>[!tip] Created: [2022-10-04 Tue 10:36]

>[!question] Targets: 

>[!danger] Depends: 

Without getting full pulses of parents, we may need a structure to allow quick verification of a path.  This would require proof that the child was in the children HAMT, and that it had the address in question, without leaking any information about the other children in the HAMT.