
>[!tip] Created: [2023-03-17 Fri 11:13]

>[!question] Targets: 

>[!danger] Depends: 

Having remote workers operating on sensitive systems means we need a way to have believable repercussions for them.  Gathering their biometric info is one such way.  Using that same biometrics device to give them access to our systems adds another layer of security.

Send out a device that is tamper proof, use it to take a video of them getting their finger scanned, and get the device to transmit a verification code on the video so we know it is our device, and then get an encrypted read of the data.

Act as a third party and keep the data safe, so that the remote workers aren't giving their data to just anybody at all.

Can also use hardware keys to access, so gives us another level of security.

Or we can send them a locked down device that they use to control the rest of the system.