
>[!tip] Created: [2023-06-29 Thu 15:05]

>[!question] Targets: 

>[!danger] Depends: 

Sell merch that represents NFTs that has been verified as owned, so it isn't just a copy of the data.

Means that a shirt can be made where the ownership of the shirt represents the NFT, and so when the NFT gets traded, ownership of the shirt changes too.

Verify with an app showing who the valid owner of the thing is whenever it gets scanned.