
>[!tip] Created: [2024-03-30 Sat 11:36]

>[!question] Targets: 

>[!danger] Depends: 

All features and limits can be auto expanded by AI logicians.

Small test samples can be constructed that verify the docs and can be put forwards as examples.  The bot then has the ability to create little examples based on any question about the code, rather than being a set of preconcieved docs.

Any claims in the docs are verified using runnable examples.

Questions from people are used to morph the docs.

Bots can look at your codebase or you situation and help make examples or solve your actual problem.
Bots can talk to bots, so your agents can plug into ours and get expert help, which is charged for.