
>[!tip] Created: [2024-05-27 Mon 13:13]

>[!question] Targets: 

>[!danger] Depends: 

Let people sign in using FaceTec ?

Set up our own auth flows ?