
>[!tip] Created: [2024-01-21 Sun 12:34]

>[!question] Targets: 

>[!danger] Depends: 

We can appraise the quality of the description, and see if it accurate reflects what was done.
We can run thru all re-calls, where the was an error, indicating a misunderstanding between AIs, and try to update the description to see if that would have fixed it.

The helps can be continually updated with descriptions, examples, and relationships to other goals.

The goal testing of the help can be running certain goals and seeing if the appropriate help was found, then altering goal links until this is fixed.